body {
    margin: 0;
    height: 100vh;    
    background: linear-gradient(to bottom, #ccd2d4, #818999);
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

div.background-image {
    float: left;
    background: url(./images/A_cartoon_image_of_a_hundred_dollar_bill.png) center;
    opacity: 0.25;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.centered img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scrollable-x {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    min-height: 200px;
}

label {
    font-family: 'Lato', 'Merriweather', 'Roboto', 'Open Sans';
    font-size: small;
    font-weight: 200;
}

select {
    border: 2px solid slategrey;
    border-radius: 10px;    
}

input {
    border: 2px solid slategrey;
    border-radius: 10px;
}

button {
    border: 2px solid slategrey;
    border-radius: 10px;
}

div > #asset {
    display: inline-block;
    background-color: lightgray;
    padding: 14px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 300px;
}

div > #rollup {
    display: inline-block;
    background-color: lightgray;
    padding: 14px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 300px;
}

div.scrollable-x > .asset {
    display: inline-block;
    background-color: white;
    padding: 14px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 300px;
}

.invisible {
    visibility: hidden;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

.card-chart-color {
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.card-chart-color:hover {
    border: 3px solid whitesmoke;    
}

.selected-card-chart {
    border: 3px solid whitesmoke;
}